In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
data = pd.read_csv("50_Startups.csv")
data

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [3]:
transformer = ColumnTransformer([('encoder', OneHotEncoder(), [3])], remainder='passthrough')

In [4]:
data = np.array(transformer.fit_transform(data), dtype = np.str)

In [5]:
df = pd.DataFrame(data,columns=['Califonia_State','Florida_State','NewYork_State','R&D Spend','Administration','Marketing Spend','Profit'])

In [6]:
df

   Califonia_State Florida_State  ... Marketing Spend     Profit
0              0.0           0.0  ...        471784.1  192261.83
1              1.0           0.0  ...       443898.53  191792.06
2              0.0           1.0  ...       407934.54  191050.39
3              0.0           0.0  ...       383199.62  182901.99
4              0.0           1.0  ...       366168.42  166187.94
5              0.0           0.0  ...       362861.36  156991.12
6              1.0           0.0  ...       127716.82  156122.51
7              0.0           1.0  ...       323876.68   155752.6
8              0.0           0.0  ...       311613.29  152211.77
9              1.0           0.0  ...       304981.62  149759.96
10             0.0           1.0  ...       229160.95  146121.95
11             1.0           0.0  ...       249744.55   144259.4
12             0.0           1.0  ...       249839.44  141585.52
13             1.0           0.0  ...       252664.93  134307.35
14             0.0           1.0  ...       256512.92  132602.65
15             0.0           0.0  ...       261776.23  129917.04
16             1.0           0.0  ...       264346.06  126992.93
17             0.0           0.0  ...       282574.31  125370.37
18             0.0           1.0  ...       294919.57   124266.9
19             0.0           0.0  ...             0.0  122776.86
20             1.0           0.0  ...       298664.47  118474.03
21             0.0           0.0  ...       299737.29  111313.02
22             0.0           1.0  ...       303319.26  110352.25
23             0.0           1.0  ...       304768.73  108733.99
24             0.0           0.0  ...       140574.81  108552.04
25             1.0           0.0  ...       137962.62  107404.34
26             0.0           1.0  ...       134050.07  105733.54
27             0.0           0.0  ...       353183.81  105008.31
28             0.0           1.0  ...        118148.2  103282.38
29             0.0           0.0  ...       107138.38  101004.64
30             0.0           1.0  ...        91131.24   99937.59
31             0.0           0.0  ...        88218.23   97483.56
32             1.0           0.0  ...        46085.25   97427.84
33             0.0           1.0  ...       214634.81   96778.92
34             1.0           0.0  ...       210797.67    96712.8
35             0.0           0.0  ...       205517.64   96479.51
36             0.0           1.0  ...       201126.82   90708.19
37             1.0           0.0  ...       197029.42   89949.14
38             0.0           0.0  ...        185265.1   81229.06
39             1.0           0.0  ...        174999.3   81005.76
40             1.0           0.0  ...       172795.67   78239.91
41             0.0           1.0  ...       164470.71   77798.83
42             1.0           0.0  ...       148001.11   71498.49
43             0.0           0.0  ...        35534.17   69758.98
44             1.0           0.0  ...        28334.72   65200.33
45             0.0           0.0  ...         1903.93   64926.08
46             0.0           1.0  ...       297114.46   49490.75
47             1.0           0.0  ...             0.0   42559.73
48             0.0           0.0  ...             0.0   35673.41
49             1.0           0.0  ...        45173.06    14681.4

[50 rows x 7 columns]

In [7]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
X_train

   Califonia_State Florida_State  ... Administration Marketing Spend
24             0.0           0.0  ...       99281.34       140574.81
30             0.0           1.0  ...      115641.28        91131.24
31             0.0           0.0  ...      152701.92        88218.23
14             0.0           1.0  ...      156547.42       256512.92
11             1.0           0.0  ...       91790.61       249744.55
26             0.0           1.0  ...      144135.98       134050.07
12             0.0           1.0  ...      127320.38       249839.44
5              0.0           0.0  ...       99814.71       362861.36
36             0.0           1.0  ...      127056.21       201126.82
49             1.0           0.0  ...       116983.8        45173.06
37             1.0           0.0  ...       51283.14       197029.42
22             0.0           1.0  ...      122782.75       303319.26
7              0.0           1.0  ...      145530.06       323876.68
27             0.0           0.0  ...      127864.55       353183.81
34             1.0           0.0  ...      157693.92       210797.67
16             1.0           0.0  ...      121597.55       264346.06
42             1.0           0.0  ...       96189.63       148001.11
29             0.0           0.0  ...      153032.06       107138.38
23             0.0           1.0  ...      105751.03       304768.73
46             0.0           1.0  ...      115816.21       297114.46
18             0.0           1.0  ...      114175.79       294919.57
9              1.0           0.0  ...      108679.17       304981.62
8              0.0           0.0  ...      148718.95       311613.29
6              1.0           0.0  ...      147198.87       127716.82
19             0.0           0.0  ...      153514.11             0.0
3              0.0           0.0  ...      118671.85       383199.62
41             0.0           1.0  ...       84710.77       164470.71
32             1.0           0.0  ...      129219.61        46085.25
33             0.0           1.0  ...      103057.49       214634.81
28             0.0           1.0  ...      182645.56        118148.2
35             0.0           0.0  ...       85047.44       205517.64
40             1.0           0.0  ...      118546.05       172795.67
38             0.0           0.0  ...       65947.93        185265.1
4              0.0           1.0  ...       91391.77       366168.42
43             0.0           0.0  ...       127382.3        35534.17
1              1.0           0.0  ...      151377.59       443898.53
47             1.0           0.0  ...      135426.92             0.0
20             1.0           0.0  ...       113867.3       298664.47
39             1.0           0.0  ...       82982.09        174999.3
44             1.0           0.0  ...      154806.14        28334.72

[40 rows x 6 columns]

In [10]:
reg = LinearRegression().fit(X_train[['Califonia_State','Florida_State','NewYork_State','R&D Spend','Administration','Marketing Spend']],y_train)
reg.score(X_train,y_train)

0.9509821013241142

In [11]:
y_pred = reg.predict(X_test)
y_pred

array([119151.77101298, 194589.77932677,  51990.90903936, 181270.62608897,
       132010.55034318,  49487.78709949, 148197.43718335, 100975.49905484,
       134291.65596095, 126447.40909191])

In [12]:
r2_score(y_test,y_pred)

0.9401153289894443